In [32]:
import sqlalchemy as sa
import pandas as pd

In [34]:
df=pd.read_csv("green_tripdata_2019-10.csv")
df_zone=pd.read_csv("taxi_zone_lookup.csv")

/tmp/ipykernel_243708/463174096.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("green_tripdata_2019-10.csv")

In [38]:
print(pd.io.sql.get_schema(df, 'green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [39]:
print(pd.io.sql.get_schema(df_zone, "taxi_zone_lookup"))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [41]:
len(df)

476386

In [40]:
df["lpep_pickup_datetime"]=pd.to_datetime(df["lpep_pickup_datetime"])
df["lpep_dropoff_datetime"]=pd.to_datetime(df["lpep_dropoff_datetime"])

In [42]:
engine = sa.create_engine(
    "postgresql://postgres:postgres@localhost:5436/ny_taxi"
)

In [43]:
df.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [44]:
df.head(0).to_sql("green_taxi_data", engine, if_exists='replace')

0

In [45]:
df.to_sql("green_taxi_data", engine, if_exists="append")

386

In [46]:
df_zone.head(0).to_sql("taxi_zone_lookup", engine, if_exists='replace')

0

In [47]:
df_zone.to_sql("taxi_zone_lookup", engine, if_exists="append")

265